.wrapper {
  position: absolute;
  width: 1000px;
  height: 580px;
  left: 30%;
  top: 80px;
  border-radius: 6px;
  display: flex;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 4px 6px rgba(0, 0, 0, 0.1),
    0 5px 10px rgba(0, 0, 0, 0.08), 0 10px 20px rgba(0, 0, 0, 0.06),
    0 20px 40px rgba(0, 0, 0, 0.04);

  transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.left_inner_wrapper {
  background: rgba(13, 12, 12, 0.5);
  background-blend-mode: luminosity;
  backdrop-filter: blur(81.5485px);
  -webkit-background-blend-mode: luminosity; /* Safari */
  -webkit-backdrop-filter: blur(81.5485px); /* Safari */
  height: 100%;
  width: 200px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 20px;
}

.left_corner_buttons {
  margin-bottom: 20px;
  cursor: pointer;
  display: flex;
  position: relative;
}

.closeX,
.miniX {
  display: none;
}

.left_corner_buttons:hover {
  .closeX,
  .miniX {
    display: block;
  }
}

.closeX,
.miniX {
  position: absolute;
  pointer-events: none;
  opacity: 0.85;
}

.closeX {
  top: -2px;
  left: 2.15px;
  font-size: 0.65rem;
}

.miniX {
  top: -11px;
  left: 23.65px;
  font-size: 1.25rem;
}

.left_corner_button_img {
  margin-right: 10px;
}

.menu_title {
  font-size: 12px;
  color: #d3d3d3;
  margin: 15px 0;
  letter-spacing: 0.6px;
}

.left_ul {
  list-style: none;
}

.left_li {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.left_li:hover {
  cursor: pointer;

  .blue_icon_img {
    filter: brightness(50);
  }

  .left_li_text {
    color: white;
  }
}

.blue_icon_img {
  height: 13px;
  width: 13px;
  margin-right: 8px;
}

.left_li_text {
  font-size: 13px;
  color: white;
  font-weight: bold;
}

.right_inner_wrapper {
  background-color: #232526;
  height: 100%;
  width: calc(1000px - 200px);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
}

.right_top_bar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.05);
}

.right_top_bar_left {
  display: flex;
  align-items: center;
}

.right_top_bar_left:hover {
  cursor: pointer;
}

.right_top_bar_left img {
  padding: 0.25rem 0.25rem;
}

.right_top_bar_left img:hover {
  background-color: #4545457f;
  border-radius: 2.5px;
}

.right_top_bar_left > img {
  margin-right: 20px;
}

.left_text {
  font-size: 15px;
  font-weight: bold;
}

.right_top_bar_right {
  display: flex;
}

.right_top_bar_right > img {
  margin-left: 10px;
  height: 15px;
  width: 15px;
}

.right_inner_content {
  padding: 20px;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.folderWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.folderWrapper > span {
  font-size: 12px;
  font-weight: bold;
  margin-top: 5px;
}

.file {
  height: 60px;
  width: 60px;
}

.finder_table {
  display: table;
  width: 100%;
  border-spacing: 0;
  font-size: 0.8rem;
}

.finder_header,
.finder_row {
  display: table-row;
}

.finder_header {
  background-color: #2c2c2e;
  font-weight: bold;
  border-bottom: 1px solid #777777;
}

.finder_cell {
  display: table-cell;
  padding: 8px 16px;
  font-weight: 500;
}

.finder_header .finder_cell {
  border-bottom: 1px solid #4a4a4c;
}

.finder_row:hover {
  background-color: #333335;
}

.finder_panel {
  display: flex;
}

.finder_panel_right {
  width: 35%;
  margin-top: -30px;
}

.finder_panel_left {
  width: 65%;
  position: relative;
}

.finder_panel_left div {
  font-size: 0.75rem;
  font-weight: bold;
}

.panel_title {
  margin-bottom: 1rem;
}
.panel_title h5 {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.85rem;
}
.panel_title span {
  margin-right: 1rem;
  font-size: 0.85rem;
}

.panel_info {
  font-size: 0.95rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.panel_main_photo {
  width: 485px;
  height: 300px;
  padding-right: 1rem;
  padding-top: 0.5rem;
  border-radius: 5px;
  overflow: hidden;
}
.panel_main_photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.panel_gallery {
  margin-top: 1rem;
  width: 100%;
  height: 100px;
}

.panel_gallery div:nth-child(2) {
  height: 100%;
  display: flex;
  margin-top: 1rem;
}
.panel_gallery div:nth-child(2) img {
  width: 140px;
  height: 100%;
  object-fit: cover;
  margin-right: 1rem;
  border-radius: 5px;
}

.panel_gallery div:nth-child(2) img:hover {
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.487);
}

.panel_links {
  display: flex;
  position: absolute;
  top: -25px;
  right: 20px;
}

.panel_links_nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 0.85rem;
}

.panel_links div,
.panel_links_nav div {
  margin-left: 0.75rem;
  margin-right: 0.35rem;
  border: 1px solid white;
  padding: 0.15rem 0.75rem;
  border-radius: 10px;
}
.panel_links div:hover,
.panel_links_nav div:hover {
  cursor: pointer;
  border: 1px solid rgb(125, 125, 125);
}
