.wrapper {
  position: absolute;
  width: 600px;
  height: 450px;
  left: 30%;
  top: 10px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  background: rgba(245, 245, 245, 0.5);
  background-blend-mode: luminosity;
  backdrop-filter: blur(81.5485px);
  -webkit-background-blend-mode: luminosity; /* Safari */
  -webkit-backdrop-filter: blur(81.5485px); /* Safari */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 20px;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 4px 6px rgba(0, 0, 0, 0.1),
    0 5px 10px rgba(0, 0, 0, 0.08), 0 10px 20px rgba(0, 0, 0, 0.06),
    0 20px 40px rgba(0, 0, 0, 0.04);

  transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.left_inner_wrapper {
  height: 5%;
  width: 100%;
  padding-left: 1rem;
}

.left_corner_buttons {
  margin-bottom: 20px;
  cursor: pointer;
  display: flex;
  position: relative;
}

.closeX,
.miniX {
  display: none;
}

.left_corner_buttons:hover {
  .closeX,
  .miniX {
    display: block;
  }
}

.closeX,
.miniX {
  position: absolute;
  pointer-events: none;
  opacity: 0.85;
}

.closeX {
  top: -2px;
  left: 2.15px;
  font-size: 0.65rem;
}

.miniX {
  top: -11px;
  left: 23.65px;
  font-size: 1.25rem;
}

.left_corner_button_img {
  margin-right: 10px;
}

.appTitle {
  position: absolute;
  font-size: 0.75rem;
  color: rgb(69, 69, 69);
  top: 0rem;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
}

/**
PhotoBooth
**/
.photobooth {
  width: 100%;
  height: 95%;
  position: relative;
  margin-top: 0.5rem;
}

.photobooth video,
.photobooth canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.commands {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  background-color: rgb(255, 67, 67);
  padding: 0.75rem;
  border-radius: 45%;
  z-index: 11;

  transition: all 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.commands:hover {
  cursor: pointer;
  width: 55px;
  height: 55px;
}

.commands img {
  width: 100%;
  height: auto;
}

/**
Filters
*/

.effectGrid {
  width: 35px;
  height: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(35px, -50%);
  background: rgba(21, 4, 4, 0.412);
  background-blend-mode: luminosity;
  backdrop-filter: blur(81.5485px);
  -webkit-background-blend-mode: luminosity; /* Safari */
  -webkit-backdrop-filter: blur(81.5485px); /* Safari */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.filterOpt {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.12),
    0 4px 6px rgba(249, 249, 249, 0.1), 0 5px 5px rgba(255, 255, 255, 0.08),
    0 10px 10px rgba(239, 239, 239, 0.06), 0 10px 20px rgba(255, 255, 255, 0.04);
  border: 2px solid rgba(132, 132, 132, 0.178);
  opacity: 0.65;
}
.filterOpt:hover {
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.filterOptNone {
  background-color: none;
}

.filterOptGingham {
  background-color: rgb(246, 255, 161);
}

.filterOptJuno {
  background-color: rgb(113, 255, 170);
}

.filterOptLark {
  background-color: rgb(152, 54, 54);
}

.filterOptLudwig {
  background-color: rgb(172, 71, 255);
}

.filterOptSierra {
  background-color: rgb(255, 56, 152);
}

.filterOptValencia {
  background-color: rgb(255, 186, 219);
}

.filter {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  opacity: 0.35;
  pointer-events: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

/**
Shot
*/
.shot {
  width: 100%;
  height: 90%;
  z-index: 11;
  position: absolute;
  bottom: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: black;
  color: white;
  display: none;
  font-size: 4rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.shot.error {
  display: none;
}
