.wrapper {
  position: absolute;
  width: 500px;
  height: 400px;
  left: 30%;
  top: 10px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  background: rgba(245, 245, 245, 0.5);
  background-blend-mode: luminosity;
  backdrop-filter: blur(81.5485px);
  -webkit-background-blend-mode: luminosity; /* Safari */
  -webkit-backdrop-filter: blur(81.5485px); /* Safari */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 20px;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 4px 6px rgba(0, 0, 0, 0.1),
    0 5px 10px rgba(0, 0, 0, 0.08), 0 10px 20px rgba(0, 0, 0, 0.06),
    0 20px 40px rgba(0, 0, 0, 0.04);

  transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.left_inner_wrapper {
  height: 5%;
  width: 100%;
  padding-left: 1rem;
}

.left_corner_buttons {
  margin-bottom: 40px;
  cursor: pointer;
  display: flex;
  position: relative;
}

.closeX,
.miniX {
  display: none;
}

.left_corner_buttons:hover {
  .closeX,
  .miniX {
    display: block;
  }
}

.closeX,
.miniX {
  position: absolute;
  pointer-events: none;
  opacity: 0.85;
}

.closeX {
  top: -2px;
  left: 2.15px;
  font-size: 0.65rem;
}

.miniX {
  top: -11px;
  left: 23.65px;
  font-size: 1.25rem;
}

.left_corner_button_img {
  margin-right: 10px;
}

.appTitle {
  position: absolute;
  font-size: 0.75rem;
  color: rgb(69, 69, 69);
  top: 1.25rem;
  left: 51%;
  transform: translateX(-50%);
  font-weight: bold;
}

/**
GMaps
*/
.gmaps {
  width: 100%;
  height: 95%;
  position: relative;
  margin-top: 0.5rem;
  overflow: hidden;
}
