.wrapper {
  position: absolute;
  width: 500px;
  min-height: 700px; 
  left: 30%;
  top: 80px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  background: #f0d9aa;
  background-blend-mode: luminosity;
  backdrop-filter: blur(81.5485px);
  -webkit-background-blend-mode: luminosity; /* Safari */
  -webkit-backdrop-filter: blur(81.5485px); /* Safari */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 4px 6px rgba(0, 0, 0, 0.1),
    0 5px 10px rgba(0, 0, 0, 0.08), 0 10px 20px rgba(0, 0, 0, 0.06),
    0 20px 40px rgba(0, 0, 0, 0.04);
  transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: auto;
}

.left_inner_wrapper {
  height: 50px;
  width: 200px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 20px;
}

.left_corner_buttons {
  margin-bottom: 20px;
  cursor: pointer;
  display: flex;
  position: relative;
}

.closeX,
.miniX {
  display: none;
}

.left_corner_buttons:hover .closeX,
.left_corner_buttons:hover .miniX {
  display: block;
}

.closeX,
.miniX {
  position: absolute;
  pointer-events: none;
  opacity: 0.85;
}

.closeX {
  top: -2px;
  left: 2.15px;
  font-size: 0.65rem;
}

.miniX {
  top: -11px;
  left: 23.65px;
  font-size: 1.25rem;
}

.left_corner_button_close, .left_corner_button_maximize, .left_corner_button_minimize {
  margin-right: 10px;
}

.aboutMe {
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  position: relative;
  background-image: linear-gradient(transparent 96%, #000 40%);
  background-size: 100% 24px;
  z-index: 2;
}

.aboutMe::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50px;
  width: 1px;
  height: 100%;
  background-color: #000; 
}

.aboutMe .title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 30;
}

.aboutMe .title img:nth-child(1) {
  width: 60%;
  height: auto;
  pointer-events: none;
}

.aboutMe .title img:nth-child(2) {
  width: 20%;
  margin: 2em 0;
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.text {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  color: rgba(11, 11, 11, 0.826);
  line-height: 1.5rem;
  flex: 1;
}

.aboutMe p {
  margin: 0px 50px;
  margin-top: 0.3rem;
  text-align: justify;
}

.aboutMe p span:nth-last-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-top: 1.8rem;
}

.aboutMe .gpt {
  width: 100%;
  display: flex;
  font-size: 0.85rem;
  opacity: 0.75;
  color: rgb(28, 28, 28);
  align-items: center;
  justify-content: center;
}

.gpt {
  margin-top: -1rem;
}

.aboutMe .gpt img {
  width: 50px;
  height: auto;
}

.dayTime {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: -0.8rem;
}

@media screen and (max-width: 668px) {
  .left_corner_button_maximize, .left_corner_button_minimize {
    display: none;
  }


  .wrapper {
    width: 90vw;
    min-height: 90vh; 
    left: 5%;
    top: 5%;
  }

  .dayTime {
    visibility: hidden;
  }

  .aboutMe p span:nth-last-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-top: 1rem;
  }
}
