.wrapper {
  width: 100vw;
  height: 100vh;
  background: rgb(37, 37, 37);
  overflow: hidden;
  display: flex;
  transition: filter 0.5s ease-in-out;
  filter: brightness(30%);
  position: absolute;
}

.inner_wrapper {
  position: relative;
  height: calc(100% - 102px);
  width: 100vw;
  margin: 40px 0;
  padding: 0 20px;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding-bottom: 90px;
  }

  .inner_wrapper {
    height: calc(100% - 72px);
    /* Ajusta la altura para dejar espacio para el MenuBar */
    margin-top: 80px;
    margin-bottom: 50px;
  }
}