a {
  text-decoration: none;
  color: unset;
}

.wrapper_right, .wrapper_left, .wrapper_rand1, .wrapper_rand2, .wrapper_rand3, .wrapper_rand4 {
  position: absolute;
}

.wrapper_right {
  top: 0;
  right: 20px;
}

.wrapper_left {
  top: 0;
  left: 20px;
}

.wrapper_rand1 {
  top: 30%;
  left: 30%;
}

.wrapper_rand2 {
  top: 55%;
  right: 20%;
}

.wrapper_rand3 {
  top: 5%;
  right: 13%;
}

.wrapper_rand4 {
  top: 60%;
  left: 10%;
}

.folderWrapper {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.folderWrapper img {
  width: 70px;
  height: auto;
}

.folderText {
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
}

.marginBottom20 {
  margin-bottom: 20px;
}

.folderWrapperRand1 {
  top: 20%;
  left: 35%;
  position: absolute !important;
}

.selected {
  background-color: rgb(57, 57, 255);
  padding: 0.1rem;
  border-radius: 3%;
}

.selectedIcon {
  background-color: rgba(158, 158, 158, 0.327);
  border-radius: 5px;
}

@media screen and (max-width: 668px) {
  .wrapper_right, .wrapper_left, .wrapper_rand1, .wrapper_rand2, .wrapper_rand3, .wrapper_rand4 {
    position: absolute;
    min-height: min-content;
    margin: 0 10px 0px 10px;
  }

  .wrapper_rand3 {
    top: -10px;
    left: 140px;
  }

  .wrapper_rand1 {
    top: 170px;
    left: 155px;
  }

  .wrapper_rand2 {
    top: 340px;
    left: 155px;
  }

  .wrapper_rand2 img{
    width: 80px !important;
    margin-left: 10px
  }

  .wrapper_rand3 img {
    width: 130px !important;
  }

  .wrapper_rand4 {
    top: 500px;
    left: 155px;
  }
  .inner_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .folderWrapper img {
    width: 100px;
  }
  
  .folderText {
    font-size: 16px;
  }

  #ig_text {
    margin-left: 400px !important;
  }
}
