a {
  text-decoration: none;
  color: unset;
}

.folder_fotos,
.folder_prensa,
.folder_proyectos {
  visibility: visible;
}

.wrapper_right,
.wrapper_left,
.wrapper_rand1,
.wrapper_rand2,
.wrapper_rand3,
.wrapper_rand4 {
  position: absolute;
}

.wrapper_right {
  top: 0;
  right: 20px;
}

.wrapper_left {
  top: 0;
  left: 20px;
}

.wrapper_rand1 {
  top: 30%;
  left: 30%;
}

.wrapper_rand2 {
  top: 55%;
  right: 20%;
}

.wrapper_rand3 {
  top: 5%;
  right: 13%;
}

.wrapper_rand4 {
  top: 60%;
  left: 10%;
}

.folderWrapper {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.folderWrapper img {
  width: 70px;
  height: auto;
}

.folderText {
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
}

.marginBottom20 {
  margin-bottom: 20px;
}

.folderWrapperRand1 {
  top: 20%;
  left: 35%;
  position: absolute !important;
}

.selected {
  background-color: rgb(57, 57, 255);
  padding: 0.1rem;
  border-radius: 3%;
}

.selectedIcon {
  background-color: rgba(158, 158, 158, 0.327);
  border-radius: 5px;
}

@media screen and (max-width: 668px) {
  .wrapper_right,
  .wrapper_left,
  .wrapper_rand1,
  .wrapper_rand2,
  .wrapper_rand3,
  .wrapper_rand4 {
    position: absolute;
    min-height: min-content;
    margin: 0 10px 0px 10px;
  }
  .inner_wrapper{
    padding-bottom: 100px;
  }

  .folder_abel_store {
    visibility: visible;
    position: absolute;
    top: 90px;
    left: 100px;
  }

  .wrapper_right {
    visibility: hidden;
  }

  .wrapper_rand3 {
    top: -10px;
    left: 120px;
  }

  .wrapper_rand1 {
    top: 300px;
    left: 175px;
  }

  .wrapper_rand2 {
    top: 320px;
    left: 25px;
  }

  .wrapper_rand2 img {
    width: 60px !important;
    margin-left: 10px;
  }

  .wrapper_rand3 img {
    width: 100px !important;
    margin-left: 10px;
  }

  .wrapper_rand3 {
    top: 5px;
    left: 235px;
  }

  .wrapper_rand4 {
    visibility: hidden;
  }

  .inner_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .folderWrapper {
    width: 150px;
  }

  .folderText {
    font-size: 16px;
  }

  #ig_text {
    margin-left: 400px !important;
  }

  .folder_fotos,
  .folder_prensa,
  .folder_proyectos {
    visibility: hidden;
  }
}
